.inputField {
    border: 1px solid #09d3ac;
    background-color: transparent;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
}

.userNumberDisplay {
    padding-top: 20px;
}

.levelDisplay {
    padding: 20px;
}

.arrayDisplay { 
    user-select: none;
}

.instruction-box {
    border: none;
    background: #020c29;
    color: #fff;
    font-size: 20px;
    padding: 8px 32px;
    margin-top: 10px;
    font-weight: 900;
    letter-spacing: 4px;
    display: inline;
    text-align: left;
    text-align: justify;
  }
  
  .instruction-box p {
    font-size: 32px;
  }