.inputField {
    border: 1px solid #09d3ac;
    background-color: transparent;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
}

.userNumberDisplay {
    padding-top: 20px;
}

.levelDisplay {
    padding: 20px;
}

.arrayDisplay { 
    user-select: none;
}
