.text-input {
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
    padding: 5px;
    display: inline-block;
    margin: 8px 4px;
}
.submit-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    margin: 8px 4px;
}
.submit-input:hover {
    cursor: pointer;
}