body {
    margin: 0;
}

#tutorial {
    font-size: 24px;
    padding: 40px;
    margin-top: 20vh;
}

.screen {
    max-width: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #020c29;
    text-align: center;
    font-size: 32px;
    font-family: monospace;
    color: #fff;
}

h1 {
    padding: 20px;
}

.character {
    border: 1px solid #09d3ac;
    white-space: pre;
}

.currentChar {
    background-color: #09d3ac;
}
  
.outgoingChar {
    color: silver;
}

.resetBtn {
    padding: 20px;
}

.hide {
    display: none;
}

.instruction-box {
    border: none;
    background: #020c29;
    color: #fff;
    font-size: 20px;
    padding: 8px 32px;
    margin-top: 10px;
    font-weight: 900;
    letter-spacing: 4px;
    cursor: pointer;
    display: inline;
    text-align: left;
    text-align: justify;
  }
  
  .instruction-box p {
    font-size: 32px;
  }